<!-- JS -->
<footer>
    <img src="assets/img/shutterstock_691552603c.jpeg" class="img-fluid" />
    <div class="container-fluid" style="background-color: black;">
        <div class="container" style="padding:2%">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-3">
                    <h3 style="margin-left:2%">Navigatie</h3>
                        {% for item in site.data.navbar %}
                        <a class="text-start nav-link line-height-small white" href="{{ item.url }}">{{ item.name}}</a>
                        {% endfor %}
                </div>
                <div class="col-md-6 col-sm-3 align-self-start">
                    <h3>Contact</h3>
                    <a href="mailto:tobedone.nl" class="text-start">Hello@digilink.nl</a>
                    <p class="text-start white">Emmen, Assen, Hoogeveen</p>
                </div>
            </div>
        </div>
    </div>
</footer>